@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic+Condensed+One&display=swap');

/* estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth; /* Recomendado para UX */
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0033ffe5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #FFFF;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #0033ffe5;
}

/*estilo do cabeçalio*/
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .logo {
    font-family: 'Lexend', sans-serif;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #0026ff;
    color: #fff; /* Adicione cor de texto */
    transition: 0.2s;
    cursor: pointer;
}

div .logo:hover {
    box-shadow: 0px 0px 8px #0084ff;
    transform: scale(1.05);
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #FFFF;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #0084ff;
    transform: scale(1.05);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilo do topo do site*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #FFFF;
    font-size: 30px;
    line-height: 30px;
    margin: 10px 0;
}

.topo-do-site .txt-topo-site p {
    color: #FFFF;
    margin: 10px 0;
}

.topo-do-site .img-topo-site {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    transform: scale(0.7);
    /* reduz para 70% do tamanho original */
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}

/* minhas especisalidades */

section.especialidades {
    padding: 40px 4%;
}
section.especialidades .flex {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.especialidades .especialidades-box {
    color: #FFFF;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
}

.especialidades .especialidades-box:hover {
    box-shadow: 0px 0px 15px #FFFF;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #0033ffe5;
}

.especialidades .especialidades-box h3{
    font-size: 24px;
    margin: 15px 0;
}

/* sobre mim */ 

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #FFFF;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    margin: 10px 0;
}

.sobre .txt-sobre span {
    
}
.sobre .txt-sobre p {
    font-size: 18px;
    margin: 10px 0;
}

.sobre .img-sobre {
    position:static ;
    transform: scale(0.5);
    /* reduz para 70% do tamanho original */
}