@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* ============================= */
/* ESTILO GERAL */
/* ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ============================= */
/* BOTÃO DE CONTATO */
/* ============================= */

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0033ffe5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #0084ff;
    transform: scale(1.05);
}

/* ============================= */
/* CABEÇALHO */
/* ============================= */

header {
    padding: 40px 0;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #0026ff;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

.logo:hover {
    box-shadow: 0px 0px 8px #0084ff;
    transform: scale(1.05);
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* ============================= */
/* TOPO DO SITE */
/* ============================= */

section.topo-do-site {
    padding: 40px 0;
}

.topo-do-site .flex {
    display: flex;
    justify-content: space-between; /* distribui espaço */
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}

.txt-topo-site {
    flex: 1;
    min-width: 280px;
}

.img-topo-site {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.img-topo-site img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    transform: scale(0.9);
}

/* Títulos e botão */
.topo-do-site h1 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin: 10px 0;
}

.btn-contato {
    margin-top: 20px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 10px 0;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}

/* ============================= */
/* ESPECIALIDADES */
/* ============================= */

section.especialidades {
    padding: 40px 0;
}

.especialidades .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    text-align: center;
    transition: all 0.3s ease;
}

.especialidades .especialidades-box:hover {
    box-shadow: 0px 0px 15px #fff;
    transform: scale(1.05);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #0033ffe5;
}

.especialidades .especialidades-box h3 {
    font-size: 24px;
    margin: 15px 0;
}

/* ============================= */
/* SOBRE MIM */
/* ============================= */

section.sobre {
    background: #000;
    color: #fff;
    padding: 60px 0;
}

.sobre .interface {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-sobre img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0026ff;
}

/* redes sociais ao lado da imagem */
.img-sobre .redes-sociais {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    justify-content: center;
}

/* texto sobre mim */
.txt-sobre h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.txt-sobre h2 span {
    color: #0026ff;
}

.txt-sobre p {
    max-width: 500px;
    margin: 15px 0;
    text-align: justify;
}

/* redes sociais abaixo do texto */
.txt-sobre .redes-sociais {
    display: flex;
    margin-top: 20px;
    gap: 12px;
}

/* estilo dos ícones */
.redes-sociais a {
    background: #0026ff;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.redes-sociais a:hover {
    transform: scale(1.1);
}

.redes-sociais img {
    width: 24px;
    height: 24px;
}

/* ============================= */
/* PORTFÓLIO */
/* ============================= */



/* ============================= */
/* FORMULARIO */
/* ============================= */

